<html>
	<head>
		<title>yt2file</title>
		<style>
			#inputarea {
				width: 325px;
				height: 150px;
				outline-style: solid;
				outline-color: rgb(128,255,255);
				position: absolute;
				left: 20px;
			}
			#wrapper {
				width: 350px;
				height: 200px;
				background-color: #f4f4f4;
			}
			.prog1 {
				width: 350px;
			}
			.button1 {
				height:75px;
				width:350px;
			}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>
			function run() {
				var textarea = $("#inputarea");
				var progress = document.getElementById("progressbar")

				var xhr = new XMLHttpRequest();
				var lastPos = 0;
				xhr.onreadystatechange = function() {
					if(xhr.readyState >= 3) {
						var data = xhr.responseText.substring(lastPos);
						lastPos = xhr.responseText.length;

						console.log(data);
						progress.value = parseInt(progress.value) + 1;
						window.open(data, "_blank");
					} 
				};
				xhr.open("POST", "run.php");
				var vids = textarea.val().split("\n");
				progress.max = vids.length;
				progress.value = 0;
				xhr.send(JSON.stringify(textarea.val().split("\n")));
			}
		</script>
	</head>
	<body>
		<div id="wrapper">
			<a id="text1">Songs (YT Links)</a>
			<br><br>
			<textarea id="inputarea"></textarea>
		</div>
		<progress value="0" max="100" class="prog1" id="progressbar"></progress> 
		<br>
		<button onclick="run()" class="button1">Go</button>
	</body>
</html>
